html,
body {
    height: 100%;
    color: #333;
    background-color: #fff;
}

h1,
h2,
h3,
p,
ul,
dd {
  margin: 0;
  padding:0;
}

ul,li {    
    list-style: none;
}
#root,.App{
    height: 100%;
}
* {
    /* 解决滑动轮播图出现的问题 */
     touch-action: pan-y; 
    box-sizing: border-box; 
}
